body * + * {
  margin-top: 1.5em;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: Helvetica, sans-serif;
}

.container {
  display: flex;
}

header {
  background-color: #0072b0;
  color: #fff;
  border-radius: 0.5em;
}

/* fixes IE bug that renders main as inline instead of block */
main {
  display: block;
}

.main {
  width: 70%;
  padding: 1em 1.5em;
  background-color: #fff;
  border-radius: 0.5em;
}

.sidebar {
  width: 30%;
  margin-top: 0;
  margin-left: 1.5em;
  padding: 1.5em;
  background-color: #fff;
  border-radius: 0.5em;
}

.button-link {
  display: block;
  padding: 0.5em;
  color: #fff;
  background-color: #0090c9;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/*using an adjacent sibling selector to apply margins between buttons*/
.button-link + .button-link {
  margin-top: 1.5em;
}

.callers {
  display: block;
  color: #0072b0;
  font-weight: bold;
  text-decoration: none;
}
